.AppList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.AppCard {
    width: 324px;
    height: 324px;
    margin: 8px;
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 8px;
}

.AppCard__content {
    display: flex;
    justify-content: space-between;
}

.AppCard__actions {
    display: inline-block;
}

.AppCard__main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 16px 0;
}

.AppCard__main > * {
    text-overflow: ellipsis;
}

.AppCard__title {
    font-weight: bold;
    margin-bottom: 8px;
}
