button, label {
  all: unset;
}

.AppList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.AppCard {
  width: 324px;
  height: 324px;
  margin: 6px;
  padding: 18px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #CECDF4;
  border-radius: 16px;
  transition: all .15s ease-in-out;
}

.AppCard:hover {
  transform: translateY(-6px);
  box-shadow: 0px 6px 0px #CECDF4;
}

.AppCard__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AppCard__avatar {
  width: 48px;
  height: 48px;
}

.AppCard__actions {
  display: inline-block;
}

.AppCard__main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 18px 0;
}

.AppCard__title {
  font-weight: bold;
  margin-bottom: 8px;
}

.Button {
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid #5755d9;
  color: #5755d9;
}

.Chip {
  padding: 4px 8px;
  background: #EBEBFA;
  border-radius: 26px;
  color: #5755D9;
}

.Chip--active {
  color: #EBEBFA;
  background: #5755D9;
}
